  body{
background-color: lavender;
text-align: center
  }
  hr{
border-top:10px solid ;
  } 
  h1{
 text-align: center;
 color: black; 
}
div:hover{
background-color: lightblue;
color:cadetblue;
}

table{
margin-left: auto;
margin-right: auto;
background-color: crimson;
color:black
}
table,th,td{
    border:1px solid white;
border-collapse: collapse;
}